@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Droid+Sans);

:root {
  --fcolor: #fff;
  --ncolor: #fff;
}

.Avatar img {
  height: 50px;
  width: 50px;
  border-radius: 100px;
}
#nav-bar-item-Avatar img {
  height: 35px;
  margin-top: -25px;
  position: absolute;
  right: 30px;
}

h1 {
  font-size: 7em;
  padding: 0;
  margin: 0;
  color: aliceblue;
}

.input-form {
  position: absolute;
  z-index: 1;
  left: 30vw;
  top: 160vh;
}
input {
  height: 10vw;
  width: 50vw;
  background-color: rgba(88, 51, 59, 0.97);
  opacity: 0.5;
  border-radius: 100px;
  border: none;
  outline: none;
  font-size: 50px;
  color: rgb(197, 193, 193);
}
#nav-bar-overlay {
  background-color: rgba(28, 21, 19, 0.97);
  opacity: 0.99;
  position: fixed;
  height: 59px;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10000;
  display: none;
}
#nav-bar-item-top,
#nav-bar-item-Ask,
#nav-bar-item-About,
#nav-bar-item-Avatar {
  font-family: "Montserrat" sans-serif;
  font-size: 16px;
  text-decoration: none;
  color: #eee;
  padding: 0px 45px 0px 45px;
  display: inline-block !important;
  margin-top: 20px;
  transition: 0.2 ease-in-out;
}

#nav-bar-item-top:hover,
#nav-bar-item-Ask:hover,
#nav-bar-item-About:hover,
#nav-bar-item-Avatar:hover {
  color: #e07065;
}

.nav-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 65px;
}

@font-face {
  font-family: "Samarkan Normal";
  font-style: normal;
  font-weight: normal;
  src: local("Samarkan Normal"), url("./assets/SAMARN__.woff") format("woff");
}

#site-title {
  font-family: "Samarkan Normal";
  color: var(--fcolor);
  font-size: 101px;
  font-weight: bold;
  margin-top: 55px;
  margin-left: 57%;
  /* margin-right: 50%; */
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
}
#sections {
  text-decoration: none;
  color: var(--ncolor);
  padding: 16px 20px 16px 21px;
  margin: 0;
  position: absolute;
  top: 90%;
  left: 50%;
  font-size: 20px;
  font-weight: 700;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
}
#other-section {
  text-decoration: none;
  font-size: 16px;
  color: var(--ncolor);
  float: left;
  position: absolute;
  margin-top: 200px;
  margin: 0;
  top: 20px;
  left: -400px;

  margin-right: -50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transition: 0.09s ease-in-out;
}
#about-section {
  text-decoration: none;
  font-size: 16px;
  color: var(--ncolor);
  float: left;
  position: absolute;
  margin-top: 200px;
  margin: 0;
  top: 20px;
  right: -309px;

  margin-right: -50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transition: 0.09s ease-in-out;
}
#ask-section {
  text-decoration: none;
  font-size: 16px;
  color: var(--ncolor);
  float: left;
  position: absolute;
  margin-top: 200px;
  margin: 0;
  top: 20px;
  left: -269px;

  margin-right: -50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transition: 0.09s ease-in-out;
}
#contact-section {
  text-decoration: none;
  font-size: 16px;
  color: var(--ncolor);
  float: left;
  position: absolute;
  margin-top: 200px;
  margin: 0;
  top: 20px;
  right: -459px;

  margin-right: -50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transition: 0.09s ease-in-out;
}
.Avatar {
  float: left;
  position: absolute;
  right: -700px;
  margin: 0;
  top: 0;
}

#first-solid-bar {
  background-image: url(./bg.jpg);
  margin-top: 33px;
  margin-left: -9px;
  margin-right: -9px;
  display: none;
  height: 1600px;
  position: absolute;
}

@media (max-width: 1100px) {
  #site-title {
    font-family: "Samarkan Normal";
    color: var(--fcolor);
    font-size: 81px;
    font-weight: bold;
    margin-top: 55px;
    margin-left: 50%;
    /* margin-right: 50%; */
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
  }
  #other-section {
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: var(--ncolor);
    float: left;
    margin-right: 100px;
    margin: 0;
    position: absolute;
    left: -201px;
    margin-top: 90px;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transition: 0.09s ease-in-out;
  }
  #ask-section {
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: var(--ncolor);
    float: left;
    margin-right: 100px;
    margin: 0;
    position: absolute;
    left: 171px;
    margin-top: 90px;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transition: 0.09s ease-in-out;
  }
  #contact-section {
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: var(--ncolor);
    float: left;
    margin-right: 100px;
    margin: 0;
    position: absolute;
    left: 151px;
    margin-top: 90px;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transition: 0.09s ease-in-out;
  }
  #about-section {
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: var(--ncolor);
    float: left;
    margin-right: 100px;
    margin: 0;
    position: absolute;
    left: 301px;
    margin-top: 90px;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transition: 0.09s ease-in-out;
  }

  .Avatar {
    float: left;
    /* margin-right: 100px;
    margin: 0; */
    position: absolute;
    left: 450px;
    top: 20px;
    /* margin-top: 0px; */
    /* margin-right: -50%; */
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transition: 0.09s ease-in-out;
  }
}

/* Quiz app */

.Quiz {
  width: 100%;
  margin-top: 100vh;
  display: grid;
  position: absolute;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.Question-box {
  margin-left: 25vw;
  max-height: 40vh;
  max-width: 50%;
  background-color: rgb(17, 20, 27);

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 2fr 2fr;
  grid-auto-rows: minmax(200px, auto);
  color: #eee;
  border-radius: 30px;
  padding: 10px;
  font-size: 20px;
  box-shadow: inset;
}

.Question {
  grid-column: 1/3;
  grid-row: 1;

  margin: 10px 10px 0 10px;
}

.answer {
  padding: 10px;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(20, 36, 66);
  border-radius: 20px;
  margin: 5px;
  width: 40vh;
  height: 10vh;
  color: #eee;
  font-size: 17px;
}

.answer-a {
  margin-top: 20px;
  grid-column: 1/2;
  grid-row: 2/3;
}
.answer-b {
  margin-top: 20px;
  grid-column: 2/3;
  grid-row: 2/3;
}
.answer-c {
  grid-column: 1/2;
  grid-row: 3/4;
}
.answer-d {
  grid-column: 2/3;
  grid-row: 3/4;
}

.score-section {
  border: 12px outset black;
  color: black;
  font-weight: 500;
  font-size: 30px;
  height: 50vh;
  width: 50vw;
  margin-top: 10px;
  background-color: #c48f4a;
  border-radius: 100px;
  padding: 30px 30px 30px 30px;
  display: grid;
  justify-content: center;
  align-items: center;
}

.Yoga-section {
  position: absolute;
  background-repeat: repeat-y;
  background-size: cover;
  background-size: 200vh 100vw;
  top: 200vh;
  width: 100%;
  height: 100vh;
  padding: 90px 20px 0 0;
}

/*  */
.web-design {
  background-color: #f2f2f2;
  min-height: 100vh;
  font-family: "Fira Sans", sans-serif;
  display: flex;
}
.blog-inner {
  position: relative;
  max-width: 800px;
  padding: 20px;
  margin: auto;
  text-align: center;
}
.blog-slider {
  width: 95%;
  background: #fff;
  padding: 25px;
  border-radius: 25px;
  transition: all 0.3s;
}
@media screen and (max-width: 992px) {
  .blog-slider {
    max-width: 680px;
    height: 400px;
  }
}
@media screen and (max-width: 768px) {
  .blog-slider {
    min-height: 500px;
    height: auto;
    margin: 180px auto;
  }
}
@media screen and (max-height: 500px) and (min-width: 992px) {
  .blog-slider {
    height: 350px;
  }
}
.blog-slider__item {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .blog-slider__item {
    flex-direction: column;
  }
}

.blog-slider__img {
  width: 300px;
  flex-shrink: 0;
  height: 300px;
  box-shadow: 4px 13px 30px 1px rgba(26, 168, 226, 0.2);
  border-radius: 20px;
  transform: translateX(-80px);
  overflow: hidden;
  background: #fff;
}
.blog-slider__img:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  opacity: 0.8;
  height: 400px;
}
.blog-slider__img img {
  height: 50%;
  width: 100%;
  border-radius: 20px;
  display: inline-block;
  float: left;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 768px) {
  .blog-slider__img {
    transform: translateY(-50%);
  }
}

@media screen and (max-height: 500px) and (min-width: 992px) {
  .blog-slider__img {
    height: 270px;
  }
}
.blog-slider__content {
  padding-right: 25px;
}
@media screen and (max-width: 768px) {
  .blog-slider__content {
    margin-top: -80px;
    text-align: center;
    padding: 0 30px;
  }
}
@media screen and (max-width: 576px) {
  .blog-slider__content {
    padding: 0;
  }
}

.blog-slider__code {
  color: #7b7992;
  margin-bottom: 15px;
  display: block;
  font-weight: 500;
}
.blog-slider__title {
  font-size: 24px;
  font-weight: 700;
  color: #0d0925;
  margin-bottom: 20px;
}
.blog-slider__text {
  color: #4e4a67;
  margin-bottom: 30px;
  line-height: 1.5em;
}
.blog-slider__button {
  display: inline-flex;
  background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
  padding: 15px 35px;
  border-radius: 50px;
  color: #fff;
  box-shadow: 0px 14px 80px rgba(252, 56, 56, 0.4);
  text-decoration: none;
  font-weight: 500;
  justify-content: center;
  text-align: center;
  letter-spacing: 1px;
}
@media screen and (max-width: 576px) {
  .blog-slider__button {
    width: 100%;
  }
}
.blog-slider .swiper-container-horizontal > .swiper-pagination-bullets,
.blog-slider .swiper-pagination-custom,
.blog-slider .swiper-pagination-fraction {
  bottom: 10px;
  left: 0;
  width: 100%;
}
